*~
*#
*.*~
*.gch
*.kate-swp
*.o
*lib-prefix
.kdev4
boldhumanoid
build
capture-*.png
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
opencvtest
vision
test/unittests
tools/cameratest
tools/djsettest
tools/hough
tools/passtest
tools/cv-lines.png
tools/labelled.png
tools/line-dots.png
tools/output.png
www/.idea