*~
*#
*.*~
*.dot
*.gch
*.kate-swp
*.o
*lib-prefix
.kdev4
.idea
__pycache__
_bold.so
Makefile
TAGS
bold.py
boldhumanoid
/build
captures/*.json
captures/*.png
cachegrind*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
opencvtest
swig/boldpyPYTHON_wrap.cxx
swig/boldpyPYTHON_wrap.h
test/unittests
tools/cameratest
tools/cv-lines.png
tools/djsettest
tools/hough
tools/labelled.png
tools/labelled.jpg
tools/line-dots.png
tools/luttest
tools/output.jpg
tools/output.png
tools/passtest
vision
/version.cc
www/.idea
/configuration-agent.json
*.js.map
/www/main-built.js
/www/scripts/app/Action.js
/www/scripts/app/Animator.js
/www/scripts/app/color.js
/www/scripts/app/constants.js
/www/scripts/app/control.js
/www/scripts/app/controls/BodyFigure.js
/www/scripts/app/controls/HeadControls.js
/www/scripts/app/controls/HsvRangeEditor.js
/www/scripts/app/controls/ModuleHost.js
/www/scripts/app/controls/PixelLabelInspector.js
/www/scripts/app/controls/PolarTrace.js
/www/scripts/app/controls/TabControl.js
/www/scripts/app/data.js
/www/scripts/app/DOMTemplate.js
/www/scripts/app/HsvRange.js
/www/scripts/app/interaction.js
/www/scripts/app/main.js
/www/scripts/app/Module.js
/www/scripts/app/modules/Agent2dModule.js
/www/scripts/app/modules/CameraModule.js
/www/scripts/app/modules/CommsModule.js
/www/scripts/app/modules/ConfigModule.js
/www/scripts/app/modules/GameStateModule.js
/www/scripts/app/modules/HardwareModule.js
/www/scripts/app/modules/HistogramModule.js
/www/scripts/app/modules/IMUModule.js
/www/scripts/app/modules/LoadModule.js
/www/scripts/app/modules/LocaliserModule.js
/www/scripts/app/modules/MotionScriptModule.js
/www/scripts/app/modules/MotionTimingModule.js
/www/scripts/app/modules/OrientationModule.js
/www/scripts/app/modules/OptionTreeModule.js
/www/scripts/app/modules/StateDumpModule.js
/www/scripts/app/modules/ThinkTimingModule.js
/www/scripts/app/modules/TimingPane.js
/www/scripts/app/modules/TrajectoryModule.js
/www/scripts/app/modules/VisionModule.js
/www/scripts/app/modules/VoiceModule.js
/www/scripts/app/modules/WalkModule.js
/www/scripts/app/modules/World2dModule.js
/www/scripts/app/modules/World3dModule.js
/www/scripts/app/plotter.js
/www/scripts/app/Setting.js
/www/scripts/app/state.js
/www/scripts/app/util.js
/www/scripts/app/util/canvas.js
/www/scripts/app/util/Closeable.js
/www/scripts/app/util/geometry.js
/www/scripts/app/util/math.js
/www/scripts/app/util/mouse.js
/www/scripts/app/util/three.js
Release/
RelWithDebInfo/
Debug/
