*.o
*.gch
*.*~
*~
*.kate-swp
*#
.kdev4
www/.idea
CMakeCache.txt
CMakeFiles
boldhumanoid
cmake_install.cmake
*lib-prefix
Makefile
build
opencvtest
vision
tools/cameratest
tools/djsettest
tools/hough
tools/passtest
tools/p
tools/r
tools/accumulator.jpg
tools/color-lines.jpg
tools/labelled.jpg
tools/line-dots.jpg
tools/output.jpg
test/unittests
