[submodule "robotis"]
	path = robotis
	url = git@bitbucket.org:boldhearts/robotis.git
[submodule "vision"]
	path = vision
	url = git@bitbucket.org:boldhearts/vision.git
[submodule "joystick"]
	path = joystick
	url = git@bitbucket.org:drewnoakes/joystick.git
[submodule "libwebsockets"]
	path = libwebsockets
	url = git://git.libwebsockets.org/libwebsockets
	ignore = untracked
[submodule "rapidjson"]
	path = rapidjson
	url = git@bitbucket.org:boldhearts/rapidjson
