[submodule "joystick"]
	path = joystick
	url = git@bitbucket.org:drewnoakes/joystick.git
[submodule "libwebsockets"]
	path = libwebsockets
	url = git@bitbucket.org:boldhearts/libwebsockets.git
	ignore = untracked
[submodule "rapidjson"]
	path = rapidjson
	url = git@bitbucket.org:boldhearts/rapidjson
[submodule "test/google-test"]
	path = test/google-test
	url = git@bitbucket.org:boldhearts/google-test.git
	ignore = untracked
