.connection-indicator
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 3px;

    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
}

.connection-indicator.disconnected
{
    background-color: red;
}

.connection-indicator.connecting
{
    background-color: orange;
}

.connection-indicator.connected
{
    background-color: green;
}

div.panel
{
    box-sizing: content-box;
    width: 640px;
    min-height: 480px;
    display: inline-block;
    vertical-align: top;
    background:  rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 12px;
    margin: 6px;
}

div.panel h1
{
    font-family: consolas, monospace;
    margin: 0 0 12px 0;
    font-size: 16px;
}

div.panel h2
{
    font-family: consolas, monospace;
    margin: 0 0 4px 0;
    font-size: 12px;
}

#camera-container
{
    position: relative;
    width: 640px;
    height: 480px;
}

#camera-container img
{
    position: absolute;
    left: 0;
    top: 0;
}

#camera-controls-container
{
    position: absolute;
    left: 400px;
    top: 0px;
    width: 200px;
    height: 440px;
    overflow: auto;
}

.camera-control
{
    display: inline-block;
}

.camera-control-name
{
    font-family: sans-serif;
    font-size: 8pt;
}