@font-face
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat-Regular'), url(/fonts/montserrat-regular.ttf) format('woff');
}

@font-face
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat'), local('Montserrat-Bold'), url(/fonts/montserrat-bold.ttf) format('woff');
}

/********************************************************************/

html, body
{
    font-family: Montserrat, sans-serif;
    font-size: 13px;
}

/********************************************************************/

img#logo
{
    display: inline-block;
}

div#header-content
{
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}

div#header-content div#socket-connections
{
    margin-top: 12px;
}

div#header-content h1
{
    margin: 0;
    color: #000;
}

div#header-content h2
{
    margin: 0;
    color: rgb(121, 36, 133);
    font-weight: normal;
}

div#header-module-links
{
    position: absolute;
    right: 14px;
    top: 14px;
    left: 400px;
    text-align: right;
}

div#header-module-links > a.module-button
{
    display: inline-block;
    margin: 2px;
    padding: 5px;
    background-color: #ddd;
    color: #444;
    text-decoration: none;
    transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -webkit-transition: background-color 0.4s linear;
}

div#header-module-links > a.module-button.added
{
    color: #fff;
    background-color: rgba(121, 36, 133, 0.7);
    border-bottom: 1px solid rgba(121, 36, 133, 1);
}

/********************************************************************/

ul#module-container
{
    padding: 0;
}

div.module
{
    box-sizing: content-box;
    width: 640px;
    min-height: 320px;
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0,rgba(0,0,0,0.2) 12px);
    border-radius: 3px 3px 12px 12px;
    padding: 12px;
    margin: 6px;
    cursor: move;
}

div.module h1
{
    margin: 0 0 12px 0;
    font-size: 16px;
    /*font-weight: normal;*/
    color: rgb(87, 21, 97);
    text-transform: uppercase;
}

div.module h2
{
    margin: 0 0 4px 0;
    font-size: 12px;
    font-weight: normal;
}

div.module > div.pane-container
{
    position: relative;
    min-height: 32px;
    cursor: default;
}

div.module > div.pane-header
{
    position: relative;
    height: 24px;
    border-bottom: 1px dotted rgba(87,21,97,0.4);
    margin-bottom: 10px;
}

div.module > div.pane-header > div.pane-header-links
{
    position: absolute;
    right: 2px;
    top: 0;
}

div.module > div.pane-header > div.pane-header-links > a
{
    text-decoration: none;
    margin-left: 12px;
}

div.module > div.pane-header > div.pane-header-links > a:hover
{
    text-decoration: underline;
}

/********************************************************************/

.connection-indicator
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 3px;

    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
}

.connection-indicator.disconnected
{
    background-color: red;
}

.connection-indicator.connecting
{
    background-color: orange;
}

.connection-indicator.connected
{
    background-color: green;
}

/********************************************************************/

.control
{
    display: inline-block;
}

.control > h3,
.control label
{
    font-weight: normal;
    margin: 0;
    font-size: 11px;
    letter-spacing: -0.1em;
}

div.module div.control.advanced
{
    display: none;
}

div.module.advanced div.control.advanced
{
    display: inline-block;
}

div.control span.value-range,
div.control span.default-value
{
    color: #666;
}

/********************************************************************/

div.module.camera canvas.camera-canvas
{
    width: 320px;
    transition: width 0.4s;
    -moz-transition: width 0.4s; /* Firefox 4 */
    -webkit-transition: width 0.4s; /* Safari and Chrome */
    -o-transition: width 0.4s; /* Opera */
}

div.module.camera > div.pane-container
{
    min-height: 410px
}

div.module.camera div.control-container.camera-controls
{
    position: absolute;
    width: 250px;
    top: 0;
    right: 0;
    height: 440px;
    overflow: auto;
}

div.module.camera div.control-container.lines-controls
{
    width: 350px;
    margin-top: 20px;
}

div.module.camera div.control-container.lut-controls
{
    width: 350px;
    margin-top: 20px;
}

div.module.camera div.control-container.camera-controls .control .values
{
    color: #666;
    font-size: 10px;
}

div.module.camera div.control-container.camera-controls .control input[type=text],
div.module.camera div.control-container.camera-controls .control select
{
    width: 170px;
    box-sizing: border-box;
}

div.module.camera div.control-container.image-controls
{
    width: 320px;
    /*width: 260px;*/
    margin-top: 23px;
}

div.module.camera div.control-container.image-controls > div:nth-child(1)
{
    display: block;
}

/********************************************************************/

div.module.localiser div.control-container.localiser-controls > div:nth-child(1)
{
    display: block;
}

div.module.localiser div.marker
{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 3px;
    border: 1px solid;
}

div.module.localiser div.marker.visible
{
    width: 0;
    height: 0;
    border-width: 10px;
}

div.module.localiser div.marker.ball
{
    border-color: red;
}

div.module.localiser div.marker.goal
{
    border-color: yellow;
}

/********************************************************************/

div.module.sensors .polar-trace-container
{
    display: inline-block;
    position: relative;
}

div.module.sensors .polar-trace-container + .polar-trace-container
{
    margin-left: 20px;
}

/********************************************************************/

div.module.state .json-text
{
    white-space: pre;
    font-family: consolas, Ubuntu Monospace, monospace;
    font-size: 11px;
}

div.module.state > div.pane-container
{
    height: 456px;
    overflow: auto;
}

/********************************************************************/

div.module.field div.hover-info
{
    position: absolute;
    bottom: 4px;
    left: 4px;
}

/********************************************************************/

div.module.timing table.timing-details tr td.duration,
div.module.timing table.timing-details tr td.max-duration
{
    text-align: right;
    padding-left: 1em;
}

div.module.timing div.fps
{
    float: right;
}

/*******************************************************************/
div.module.optiontree .option
{
    background-color: transparent;
    transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -o-transition: background-color 1s linear;
    -webkit-transition: background-color 1s linear;
}

div.module.optiontree .option.ran
{
    background-color: yellow;
}
